DEBUG=True
SECRET_KEY=your_key
ALLOWED_HOSTS=localhost,127.0.0.1

TELEGRAM_BOT_TOKEN=your_token

PLATEGA_API_URL=https://app.platega.io
PLATEGA_API_KEY=your_api_key
PLATEGA_MERCHANT_ID=your_id

FRAGMENT_API_URL=https://api.fragment-api.com/v1/
FRAGMENT_API_KEY=your_api_key
FRAGMENT_PHONE=your_phone
FRAGMENT_MNEMONICS=word1 word2 word3 ... word24
TON_WALLET_VERSION=v4r2
