DEBUG=True
SECRET_KEY=ваш_очень_секретный_ключ
ALLOWED_HOSTS=localhost,127.0.0.1

TELEGRAM_BOT_TOKEN=ваш_токен_телеграм_бота

FRAGMENT_API_URL=https://api.fragment-api.com/v1/
FRAGMENT_CURRENCY=TON

PLATEGA_API_URL=https://app.platega.io/
PLATEGA_MERCHANT_ID=данные_от_менеджера_или_из_ЛК
PLATEGA_SECRET=данные_от_менеджера_или_из_ЛК
